<table class="mt-3">
  <% post.post_comments.each do |post_comment| %>
  <tr>
    <td>
      <%= link_to user_path(post_comment.user) do %>
        <%= image_tag post_comment.user.get_profile_image(30, 30), class: "rounded-circle mr-1" %>
      <% end %>
    </td>
    <td class="ml-3">
      <%= post_comment.body %>
      <% if post_comment.user == current_user %>
        <%= link_to "<i class='fa-regular fa-trash-can'></i>".html_safe,
        post_post_comment_path(post, post_comment), method: :delete,
        data: { confirm: '本当に消しますか？' },
        class: "btn btn-sm btn-outline-danger rounded-circle float-end ml-3", remote: true %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>