<div class="container text-color">

  <%= form_with(model: resource, local: true, url: session_path(resource_name)) do |f| %>
  <table class="d-flex justify-content-center" style="width: 80%; margin: auto; margin-top: 70px;">
    <tbody>
      <tr>
        <td style="font-weight: bold; font-size: 30px;">
          管理者ログイン <i class="fa-solid fa-right-to-bracket"></i>
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <div style="margin-top: 30px; margin-left: 30px; text-align: left;">
            <strong>メールアドレス</strong> <span class="badge badge-danger">必須</span>
          </div>
          <div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <div style="margin-top: 30px; margin-left: 30px; text-align: left;">
            <strong>パスワード</strong> <span class="badge badge-danger">必須</span>
          </div>
          <div>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="mt-5 text-center">
            <%= f.submit "ログイン", class: "btn btn-dark sign-up-button", style: "border-radius: 25px;"%>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <% end %>

</div>
