<div class="conrainer text-color d-flex align-items-center justify-content-center full-height">
  <table>
    <tr>
      <td class="text-center">
        <i class="fa-solid fa-triangle-exclamation fa-8x" style="color: #33231d; margin-top: 100px;"></i>
      </td>
    </tr>
    <tr>
      <td class="text-center">
        <h4 class="mt-3"><strong>退会手続きを実行してもよろしいでしょうか？</strong></h4>
      </td>
    </tr>
    <tr>
      <td class="text-center mt-3">
        <h6>
        退会手続きが完了した時点で、ログインができなくなります。<br>
        再度サービスを利用する際は会員登録が必要になります。<br>
        ご注意ください。
      </h6>
      </td>
    </tr>
    <tr>
      <td class="text-center">
        <div class="d-flex justify-content-center" style="margin-bottom: 160px;">
          <%= link_to "戻る", edit_mypage_path,
          class: "btn btn-outline-secondary go-back-button mr-2", style: "border-radius: 25px;" %>
          <%= link_to "退会する", user_path(0),
          class: "btn btn-danger button ml-2", style: "border-radius: 25px;",
          method: :delete, data: { confirm: "本当に退会しますか？" } %>
        </div>
      </td>
    </tr>
  </table>
</div>



