<div class="container">
  <div class="d-flex justify-content-center mt-3">
    <h1>マイページ</h1>
    <div>
      <%= link_to edit_mypage_path, class: "nav-link text-dark text-right" do %>
        <button class="btn btn-dark">編集する</button>
      <% end %>
    </div>
  </div>
</div>




