@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');

/*##以下user*/
.text-color {
  color: #33231d;
}

.button {
  background-color: #ea4335 !important;
  border: 2px solid #33231d !important; /* 枠線の太さと色を指定 */
  color: #eeeed3 !important;
  width: 150px;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #ed9f82 !important; /* ホバー時の背景色 */
}

.custom-navbar {
  background-color: #eeeed3; /* ヘッダーの背景色 */
}

.header-logo {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}

.header-button {
  background-color: #0001dd !important;
  color: #eeeed3 !important; /* 通常時のテキストカラー */
  border: 2px solid #33231d !important; /* 枠線の太さと色を指定 */
  transition: background-color 0.3s, color 0.3s; /* スムーズな遷移 */
}

.header-button:hover {
  background-color: #8282ed !important;
  color: #eeeed3 !important;
}

.sign-up-button {
  background-color: #ea4335 !important;
  border: 2px solid #33231d !important; /* 枠線の太さと色を指定 */
  color: #eeeed3 !important;
  width: 150px;
  transition: background-color 0.3s, color 0.3s;
}

.sign-up-button:hover {
  background-color: #ed9f82 !important; /* ホバー時の背景色 */
}

.top-post-new-button {
  background-color: #ea4335 !important; /* 通常時の背景色 */
  color: #eeeed3 !important; /* 通常時のテキストカラー */
  border: 3px solid #33231d !important; /* 枠線の太さと色を指定 */
  width: 300px; /* 幅を指定 */
  height: 80px; /* 高さを指定 */
  transition: background-color 0.3s, color 0.3s; /* スムーズな遷移 */
}

.top-post-new-button:hover {
  background-color: #ed9f82 !important; /* ホバー時の背景色 */
}

.mypage-post-new-button {
  background-color: #ea4335 !important; /* 通常時の背景色 */
  color: #eeeed3 !important; /* 通常時のテキストカラー */
  border: 3px solid #33231d !important; /* 枠線の太さと色を指定 */
  width: 250px; /* 幅を指定 */
  height: 60px; /* 高さを指定 */
  transition: background-color 0.3s, color 0.3s; /* スムーズな遷移 */
}

.mypage-post-new-button:hover {
  background-color: #ed9f82 !important; /* ホバー時の背景色 */
}

.post-edit-button, .follow-button {
  background-color: #eeeed3 !important;
  border: 2px solid #33231d !important; /* 枠線の太さと色を指定 */
  color: #33231d !important;
}

.post-edit-button:hover, .follow-button:hover, .following-button{
  background-color: #33231d !important;
  color: #eeeed3 !important;
}

.post-delete-button {
  background-color: #ea4335 !important;
  border: 2px solid #33231d !important;
  color: #eeeed3 !important;
}

.post-delete-button:hover {
  background-color: #ed9f82 !important;
}

.comment-send-button {
  background-color: #ea4335 !important;
  border: 2px solid #33231d !important; /* 枠線の太さと色を指定 */
  color: #eeeed3 !important;
  width: 80px;
  transition: background-color 0.3s, color 0.3s;
}

.comment-send-button:hover {
  background-color: #ed9f82 !important; /* ホバー時の背景色 */
}

.success-flash {
  background-color: #eeeed3 !important;
  border: 1px solid #33231d !important;
  color: #33231d !important;
}

.to-confirm-button {
  background-color: #33231d !important;
  border: 2px solid #33231d !important;
  color: #eeeed3 !important;
  width: 150px;
  transition: background-color 0.3s, color 0.3s;
}

.to-confirm-button:hover {
  background-color: #eeeed3 !important;
  color: #33231d !important;
}

.go-back-button {
  background-color: #eeeed3 !important;
  color: #33231d !important;
  width: 150px;
  border: 2px solid #33231d !important;
}

.go-back-button:hover {
  background-color: #33231d !important;
  color: #eeeed3 !important;
}

.withdraw-button {
  background-color: red !important;
  color: #eeeed3 !important;
  width: 150px;
  border: 2px solid #33231d !important;
}

.withdraw-button:hover {
  background-color: #eeeed3 !important;
  color: #33231d !important;
}

.followers-box {
  padding: 20px;
  width: 380px;
  height: 400px;
  margin-bottom: 20px;
  background-color: white;
}

.follower-box-following-button, .follower-box-follow-button:hover {
  background-color: #33231d !important;
  color: #eeeed3 !important;
}

.follower-box-follow-button, .follower-box-following-button:hover {
  background-color: #eeeed3 !important;
  color: #33231d !important;
}

.chat-box {
  padding: 20px;
  width: 500px;
  height: 500px;
  margin-bottom: 20px;
  background-color: white;
}

.my-message {
  background-color: #ea4335;
  color: #eeeed3;
  border: 2px solid #33231d;
}

.their-message {
  background-color: #eeeed3;
  color: #33231d;
  border: 2px solid #33231d;
}

.message-delete-button {
  color: #33231d;
  border: 1px solid #33231d !important;
}

.message-delete-button:hover {
  color: #eeeed3 !important;
  background-color: #33231d;
}

.message-send-button {
  background-color: #33231d !important;
  color: #eeeed3 !important;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    padding: 8px 15px;
    border: 2px solid #33231d;
    color: #33231d;
    border-radius: 50px;
}

.pagination a:hover, .active a {
    background-color: #ea4335;
    color: #eeeed3 !important;
}












/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

