@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');

.custom-navbar {
  background-color: #eeeed3; /* ヘッダーの背景色 */
}

.header_logo {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}

.custom-button {
  color: #33231d !important; /* 通常時のテキストカラー */
  border-color: #33231d !important; /* 通常時の枠線カラー */
  transition: background-color 0.3s, color 0.3s; /* スムーズな遷移 */
}

.custom-button:hover {
  background-color: #ea4335 !important; /* ホバー時の背景色 */
  color: #eeeed3 !important; /* ホバー時のテキストカラー */
}

.logout-custom-button {
  color: #33231d !important; /* 通常時のテキストカラー */
  border-color: #33231d !important; /* 通常時の枠線カラー */
  transition: background-color 0.3s, color 0.3s; /* スムーズな遷移 */
}

.logout-custom-button:hover {
  background-color: #0001dd !important; /* ホバー時の背景色 */
  color: #eeeed3 !important; /* ホバー時のテキストカラー */
}

.sign-up-button {
  background-color: #ea4335 !important;
  color: #eeeed3 !important;
  width: 170px;
  transition: background-color 0.3s, color 0.3s;
}

.sign-up-button:hover {
  background-color: #ed9f82 !important; /* ホバー時の背景色 */
  color: #33231d !important; /* ホバー時のテキストカラー */
}

.post-new-button {
  background-color: #ea4335 !important; /* 通常時の背景色 */
  color: #eeeed3 !important; /* 通常時のテキストカラー */
  border: 2px solid #33231d !important; /* 枠線の太さと色を指定 */
  width: 250px; /* 幅を指定 */
  height: 70px; /* 高さを指定 */
  transition: background-color 0.3s, color 0.3s; /* スムーズな遷移 */
}

.post-new-button:hover {
  background-color: #ed9f82 !important; /* ホバー時の背景色 */
  color: #33231d !important; /* ホバー時のテキストカラー */
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

