@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');


/*##以下user*/
.text-color {
  color: #33231d;
}

.custom-container {
  padding-left: 0;
  padding-right: 0;
}

.button {
  background-color: #ea4335 !important;
  border: 2px solid #33231d !important; /* 枠線の太さと色を指定 */
  color: #eeeed3 !important;
  width: 150px;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #ed9f82 !important; /* ホバー時の背景色 */
}

.custom-navbar {
  background-color: #eeeed3;
}

.header-logo {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}

.header-button {
  background-color: #0001dd !important;
  color: #eeeed3 !important; /* 通常時のテキストカラー */
  border: 2px solid #33231d !important; /* 枠線の太さと色を指定 */
  transition: background-color 0.3s, color 0.3s; /* スムーズな遷移 */
}

.header-button:hover {
  background-color: #8282ed !important;
  color: #eeeed3 !important;
}

.header-post-new-button {
  background-color: #ea4335 !important; /* 通常時の背景色 */
  color: #eeeed3 !important; /* 通常時のテキストカラー */
  border: 2px solid #33231d !important; /* 枠線の太さと色を指定 */
  transition: background-color 0.3s, color 0.3s
}

.header-post-new-button:hover {
  background-color: #ed9f82 !important; /* ホバー時の背景色 */
}

.search-container {
  text-align: right;
  margin-right: 215px;
}

.search-index-title {
  font-weight: bold;
  font-size: 30px;
}

.search-result-user-name {
  font-size: 25px;
  padding-left: 20px;
  color: #33231d;
}

.sign-up-button {
  background-color: #ea4335 !important;
  border: 2px solid #33231d !important; /* 枠線の太さと色を指定 */
  color: #eeeed3 !important;
  width: 150px;
  transition: background-color 0.3s, color 0.3s;
}

.sign-up-button:hover {
  background-color: #ed9f82 !important; /* ホバー時の背景色 */
}

.top-post-card {
  width: 50%; /* 幅は50% */
  margin: auto; /* 中央寄せ */
  margin-top: 20px; /* 上のマージン */
  border-radius: 25px; /* 角を丸く */
  overflow: hidden; /* 内容がはみ出さないように */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* ボックスシャドウ */
  background-color: #fff; /* 背景色を白に */
}

.mypage-post-new-button {
  background-color: #ea4335 !important; /* 通常時の背景色 */
  color: #eeeed3 !important; /* 通常時のテキストカラー */
  border: 3px solid #33231d !important; /* 枠線の太さと色を指定 */
  width: 250px; /* 幅を指定 */
  height: 60px; /* 高さを指定 */
  transition: background-color 0.3s, color 0.3s; /* スムーズな遷移 */
}

.mypage-post-new-button:hover {
  background-color: #ed9f82 !important; /* ホバー時の背景色 */
}

.follow-button, .search-to-chat-button {
  background-color: #eeeed3 !important;
  border: 2px solid #33231d !important;
  color: #33231d !important;
  width: 145px;
}

.follow-button:hover, .search-to-chat-button:hover, .following-button{
  background-color: #33231d !important;
  color: #eeeed3 !important;
  width: 145px;
}

.post-edit-button {
  background-color: #eeeed3 !important;
  border: 2px solid #33231d !important;
  color: #33231d !important;
  width: 145px;
}

.post-edit-button:hover {
  background-color: #33231d !important;
  color: #eeeed3 !important;
}

.post-delete-button {
  background-color: #ea4335 !important;
  border: 2px solid #33231d !important;
  color: #eeeed3 !important;
}

.post-delete-button:hover {
  background-color: #ed9f82 !important;
}

.post-show-card {
  width: 60%;
  margin: auto;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 70px;
}

.comment-send-button {
  background-color: #ea4335 !important;
  border: 2px solid #33231d !important; /* 枠線の太さと色を指定 */
  color: #eeeed3 !important;
  width: 80px;
  transition: background-color 0.3s, color 0.3s;
}

.comment-send-button:hover {
  background-color: #ed9f82 !important; /* ホバー時の背景色 */
}

.success-flash {
  background-color: #eeeed3 !important;
  border: 1px solid #33231d !important;
  border-radius: 5px;
  color: #33231d !important;
}

.to-confirm-button {
  background-color: #33231d !important;
  border: 2px solid #33231d !important;
  color: #eeeed3 !important;
  width: 150px;
  transition: background-color 0.3s, color 0.3s;
}

.to-confirm-button:hover {
  background-color: #eeeed3 !important;
  color: #33231d !important;
}

.go-back-button {
  background-color: #eeeed3 !important;
  color: #33231d !important;
  width: 150px;
  border: 2px solid #33231d !important;
}

.go-back-button:hover {
  background-color: #33231d !important;
  color: #eeeed3 !important;
}

.withdraw-button {
  background-color: red !important;
  color: #eeeed3 !important;
  width: 150px;
  border: 2px solid #33231d !important;
}

.withdraw-button:hover {
  background-color: #eeeed3 !important;
  color: #33231d !important;
}

.followers-box {
  padding: 20px;
  width: 380px;
  height: 400px;
  margin-bottom: 20px;
  background-color: white;
}

.follower-box-following-button, .follower-box-follow-button:hover {
  background-color: #33231d !important;
  color: #eeeed3 !important;
}

.follower-box-follow-button, .follower-box-following-button:hover {
  background-color: #eeeed3 !important;
  color: #33231d !important;
  border: 2px solid #33231d !important;
}

.chat-box {
  padding: 20px;
  width: 500px;
  height: 500px;
  margin-top: 20px !important;
  margin-bottom: 50px !important;
  background-color: white;
  margin: auto;
  border-radius: 25px;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
}

.message-text-area {
  width: 390px;
  height: 35px;
  overflow-y: auto;
  border-radius: 5px;
}

.message-send-button {
  background-color: #33231d !important;
  color: #eeeed3 !important;
  width: 45px;
}

.my-message {
  background-color: #ea4335;
  color: #eeeed3;
  border: 2px solid #33231d;
  padding: 10px 15px;
  border-radius: 25px;
  max-width: 355px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.their-message {
  background-color: #eeeed3;
  color: #33231d;
  border: 2px solid #33231d;
  padding: 5px 10px;
  border-radius: 25px;
  max-width: 355px;
  display: inline-block;
  vertical-align: middle;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.message-delete-button {
  color: #33231d;
  border: 1px solid #33231d !important;
}

.message-delete-button:hover {
  color: #eeeed3 !important;
  background-color: #33231d;
}

.liked-posts-heading {
  font-weight: bold;
  font-size: 25px;
  color: #33231d;
}

.liked-posts-table {
  width: 50%;
  margin: auto;
  margin-top: 30px;
}

.liked-posts-title {
  font-weight: bold;
  font-size: 18px
}

.mypage-profile-table, .user-profile-table {
  margin: auto;
  width: 50%;
  max-width: 800px;
}

.mypage-posts-table, .user-posts-table {
  margin: auto;
  width: 60%;
  margin-top: 20px;
}

.mypage-posts-title {
  font-weight: bold;
  font-size: 20px
}

.user-posts-title {
  font-weight: bold;
  font-size: 20px
}

.profile-item {
  font-size: 20px;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    padding: 8px 15px;
    border: 2px solid #33231d;
    color: #33231d;
    border-radius: 50px;
}

.pagination a:hover, .active a {
    background-color: #ea4335;
    color: #eeeed3 !important;
}

.error-message-box {
  background-color: #f9cdc2 !important;
  border: 1px solid #d30700 !important;
  border-radius: 5px;
  color: #d30700 !important;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #33231d;
  color: #eeeed3;
}

.admin-posts-index-container {
    width: 50%;
    margin: auto;
  }

.admin-posts-index-title {
  font-weight: bold;
  font-size: 20px
}




@media screen and (max-width:576px) {
    .custom-container {
      padding-left: 0;
      padding-right: 0;
    }

    .search-container {
      margin: 0 20px 0 0;
    }

    .search-form {
      align-items: stretch;
      display: flex;
      justify-content: center;
    }

    .chat-box {
      padding: 20px;
      width: 350px;
      margin: auto;
    }

    .message-text-area {
      width: 250px;
      height: 30px;
      overflow-y: auto;
      border-radius: 5px;
      display: flex; /* フレックスボックスを使用 */
      justify-content: center; /* 中央寄せ */
      align-items: center; /* 縦方向中央寄せ */
    }

    .my-message {
      font-size: 10px;
      max-width: 250px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal;
    }

    .their-message {
      font-size: 10px;
      max-width: 250px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal;
    }

    .message-send-button {
      margin-left: 5px;
    }

    .top-post-card {
      width: 90%;
      margin: auto;
    }

    .post-show-card {
      width: 90%;
      margin: 40px auto;
    }

    .search-index-title {
      font-weight: bold;
      font-size: 20px;
    }

    .search-result-user-name {
      font-weight: bold;
      font-size: 15px;
      padding-left: 5px;
      color: #33231d;
    }

    .follow-button, .search-to-chat-button {
      background-color: #eeeed3 !important;
      border: 2px solid #33231d !important;
      color: #33231d !important;
      width: 145px;
    }

    .follow-button:hover, .search-to-chat-button:hover, .following-button{
      background-color: #33231d !important;
      color: #eeeed3 !important;
      width: 145px !important;
    }

    .search-user-button-text {
      font-size: 10px;
      display: flex; /* フレックスボックスを使用 */
      align-items: center; /* 垂直方向に中央寄せ */
      justify-content: center; /* 水平方向に中央寄せ（必要に応じて） */
    }

    .search-result {
      width: 80% !important;
    }

    .search-result-user-profile {
      padding: 0;
      margin: 0;
    }

    .liked-posts-heading {
      font-weight: bold;
      font-size: 20px;
      color: #33231d;
    }

    .liked-posts-table {
      width: 80%;
      margin: auto;
      margin-top: 30px;
    }

    .liked-posts-title {
      font-weight: bold;
      font-size: 12px
    }

    .mypage-profile-table, .user-profile-table {
      margin: auto;
      width: 80%;
    }

    .mypage-posts-table, .user-posts-table {
      margin: auto;
      width: 80%;
      margin-top: 20px;
    }

    .mypage-posts-title, .user-posts-title {
      font-weight: bold;
      font-size: 12px
    }

    .profile-item {
      font-size: 12px;
    }

    .admin-posts-index-container {
      width: 80%;
      margin: auto;
    }

    .admin-posts-index-title {
      font-size: 12px;
    }











}












/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

