<div class="container admin-users-index" style="width: 40%;">

  <div class="text-center text-color mt-5 mb-5">
    <div style="font-weight: bold; font-size: 30px;">
      ユーザー一覧
    </div>
  </div>

  <table class="table table-hover table-borderless">
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= image_tag user.get_profile_image(70, 70), class: "rounded-circle" %>
            <span class="admin-users-index-user-name"><%= user.name %></span>
          </td>
          <td style="text-align: right;">
            <%= link_to admin_user_path(user) do %>
              <button class="btn admin-users-index-detail-button mt-3">詳細を見る</button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pagination d-flex justify-content-center mt-5 mb-5">
    <%= paginate @users %>
  </div>

</div>